<%= nested_form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <!-- <div class="images"> -->
    <!-- <h3>Imagens</h3> -->
    <%#= f.fields_for :offer_images do |offer_image| %>
      <!-- <div class="field"> -->
        <%#= offer_image.file_field :imagem %>
        <%#= offer_image.link_to_remove "Remover Imagem" %>
      <!-- </div> -->
    <%# end %>
    <%#= f.link_to_add "Adicionar Imagem", :offer_images %>    
  <!-- </div> -->
  <div class="actions">
    <%= f.submit "Salvar", :class => "btn-primary btn-large" %>
  </div>
<% end %>
