<h1>Listing offers</h1>

<% if @offers.any? %>
<table>
  <tr>
    <th>User</th>
    <th>Platform title</th>
    <th>Price</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.user_id %></td>
    <td><%= offer.platform_title_id %></td>
    <td><%= offer.price %></td>
    <td><%= offer.text %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Offer', new_offer_path %>
