<h1>Pesquisar</h1>
<%= form_for @offers, :url => search_offers_path, :html => {:method => :get} do |f| %>
  <%= f.label :title_or_text_contains %>
  <%= f.text_field :title_or_text_contains %><br />
  <%= f.submit "Pesquisar", :class => "btn-primary btn-large" %>
<% end %>
<hr\>
<% if @offers %>
	<table class = "table">
		<% @offers.each do |offer| %>
			<%= link_to offer do %>
			<tr>
				<!--td><%#= image_tag offer.offer_images.first.image.url(:thumb) %></td-->
				<td><%= offer.title %></td>
				<td><%= offer.price %></td>
			</tr>
			<% end %>
			<hr\>
		<% end %>
	</table>
<% end %>