<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @offer.user.name %>
</p>

<p>
	<h3><%= @offer.title %></h3>
</p>

<p>
  <b>Preço</b>
  <%= @offer.price %>
</p>

<p>
  <b>Descrição</b>
  <%= @offer.text %>
</p>

<%= linkt_to "Comprar", "", :class => "btn btn-primary btn-large", :id => "botao_comprar" if current_user != @offer.user %>

<div id="tipo_compra">
	<%= form_tag pagamento_offers_path do %>
		<%= hidden_field_tag :preco, @offer.price %>
		<%= hidden_field_tag :offer_id, @offer.id %>
		<%= label_tag :forma, "Escolha forma de pagamento:" %>
		<label class="radio">
			<%= radio_button_tag :forma, "Boleto" %>
			Boleto Bancário
		</label>
		<label class="radio">
			<%= radio_button_tag :forma, "Cartão" %>
			Cartão de crédito
		</label>
		<label class="radio">
			<%= radio_button_tag :forma, "PayPal" %>
			Paypal
		</label>
	  <%= submit_tag "Pagar", :class => "btn btn-primary btn-large" %>
	<% end %>
</div>

<%= link_to 'Editar', edit_offer_path(@offer), :class => "btn btn-primary btn-large" if @offer.user == current_user %>

<%= link_to 'Voltar', offers_path, :class => "btn btn-primary btn-large" %>
