<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6">
      <h1>GameStoreUltra</h1>
      <p class="lead">Revolução no mundo brasileiro dos games!</p>
    </div>
    <div class="span6">
      <div class="bsa well">
          <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19"></div>
      </div>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><%= link_to "Link 1", root_path %></li>
      <li><%= link_to "Link 2", root_path %></li>
      <li><%= link_to "Link 3", root_path %></li>
      <li><%= link_to "Link 4", root_path %></li>
      <li><%= link_to "Link 5", root_path %></li>
    </ul>
  </div>
</header>